<%- include('../partials/header') %>
<body>
    <div class="container">
        <h1 class="mb-4">postarchive.exe</h1>
        <ul class="right">
                <li>
                    <% if (user) { %>
                        <a href="/logout"></i>Log Out</a>
                    <% } else { %>
                        <a href="/auth/google"></i>loginwithgoogle.exe</a>
                    <% } %>
                </li>
        </ul>
        <a href="/posts/new" class="btn btn-success">newpost.txt</a>

        <% posts.forEach(post => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= post.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= post.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= post.description %></div>
                    <a href="posts/<%= post.id %>" class="btn btn-primary">fullpost.txt</a>
                    <a href="posts/edit/<%= post.id %>" class="btn btn-info">edit.exe</a>
                    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">delete.exe</button>
                    </form>
                </div>  
            </div>
        <% }) %>
    </div>
</body>
<%- include('../partials/footer') %>