<%- include('../partials/header') %>

<body>
    <div class="container">
        <h1 class="mb-1"><%= post.title %></h1>
        <div class="text-muted mb-2">
            <%= post.createdAt.toLocaleDateString() %>
        </div>
        <a href="/" class="btn btn-secondary">allposts.exe</a>
        <a href="/posts/edit/<%= post.id %>" class="btn btn-info">edit.exe</a>

        <div>
        <%- post.sanitizedHtml %>
    </div>
        <div>
                <%- post.likes %>
                <form action="/posts/like/<%= post.id %>/<%= post.likes+1 %>?_method=PUT" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-success">Like</button>
                </form>
                <form action="/posts/like/<%= post.id %>/<%= post.likes-1 %>?_method=PUT" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-success">Dislike</button>
                </form>
        </div>
        

        

       

    </div>
</body>

<%- include('../partials/footer') %>